@font-face {
  font-family: FinkHeavy;
  src: url("FinkHeavy.ttf");
}
@font-face {
  font-family: Humming;
  src: url("humming.otf");
}


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url("../img/london.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
body::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px;
  border: 10px solid white;
  border-radius: 10px;
  pointer-events: none;
}

h1 {
  font-size: 10vh;
  font-family: "FinkHeavy", sans-serif;
  font-weight: 700;
  font-style: normal;
  padding: 1.5vh 1vh;
  margin: 0;
  text-shadow: 8px 5px 3px #020200;
  color: #f6c34c;
  -webkit-text-stroke: 0.1px #fdf889;
  background-image: url("../img/wood.png");
  background-position: center;
  background-size: cover;
  border: 2px solid #4b2615;
  border-radius: 5%;
}
.title {
  display: flex;
  flex-direction: row;
  margin-top: -5vh;
}

.down {
  position: relative;
  top: 0.75vh;
}

.up {
  position: relative;
  bottom: 0.75vh;
}

.menu {
  background-color: #fffae4;
  width: 50%;
  height: auto;
  border: 2px solid #fed350;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h6 {
  margin: 0;
  color: white;
  -webkit-text-stroke: 2px black;
  font-size: 6vh;
  font-family: "Humming", serif;
  font-weight: 700;
  font-style: normal;
}
.subtitle {
  margin-top: 4vh;
  margin-bottom: 2vh;
}
.highlight {
  padding-bottom: 1vh;
  border-bottom: 1vh solid #a5cdc1;
}
.one{
  color: #febdc3;

}
.two{
  color: #febdc3;


}

.box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  width: min-content;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 6vh;
  font-family: "FinkHeavy", serif;
  font-weight: 1000;
  font-style: normal;
  border: 2px solid #fed350;
  border-radius: 20px;
  margin: 2vh 0vw;
  margin-bottom: 4vh;
  padding-bottom: 1vh;
  background-color: #11c4b7;
}
button:hover {
  background-image: linear-gradient(
    45deg,
    #11c4b7 25%,
    #0a736c 25%,
    #0a736c 50%,
    #11c4b7 50%,
    #11c4b7 75%,
    #0a736c 75%,
    #0a736c 100%
  );
  background-size: 56.57px 56.57px;

}
/* page transition */
#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  pointer-events: none;
  background: #000d18;
  animation-duration: 500ms;
  animation-timing-function: ease-in-out;
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

@media screen and (max-width:767px) {
  #firstLetter{
    margin-left:8.5%;
  }
  #lastLetter{
    margin-left: 5%;
  }
  .title {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
  }
  h1{
    margin: 1vh 0vw;
    font-size: 10vw;
    padding: 1.5vh 1.5vw;
  }
  .menu{
    width: 75%;
    border-radius: 15%;
  }
  h6{
    padding: 0vh 1.5px;
    font-size: 6.5vw;
  }
  button{
    font-size: 8vw;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1150px) {
  h1{
    font-size: 7vw;
  }
  .menu{
    width: 75%;
  }
  h6{
    font-size: 6vw;
  }
  button{
    font-size: 6vw;
    
  }
}
@media screen and (min-width: 1151px) and (max-width: 1700px) {
  h1{
    font-size: 7vw;
  }
  .menu{
    width: 60%;
  }
  h6{
    font-size: 4vw;
  }
  button{
    font-size: 4.5vw;
  }
}