
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("../img/pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}


#wave{
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px;
    color: #ff0000;
    width: 90%;
    margin: -3vh auto; 
    background-color: transparent;
    z-index: 5;
    position:relative;
  }

 
  .navbar-brand {
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: "vendetta", serif;
    font-weight: 700;
    font-style: normal;
  }


  .navbar-right {
    display: flex;
    align-items: center;
    color: #333;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    font-family: "vendetta", serif;
    font-weight: 700;
    font-style: normal;

  }


  .navbar-right span {
    margin-right: 10px;
  }


  .logout-button {
    padding: 8px 12px;
    background-color: transparent;
    color: #333;
    border-radius: 4px;
    text-decoration: none;
  }

  .itinerary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 2vh;

  }
  
  

  h1 {
    font-size: 10vh;
    font-family: "citizen", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 1.5vh 1vh;
    margin: 0;
    text-shadow: 7px 10px 3px #020200;
    color: #fed350;
    -webkit-text-stroke: 4px #fdf889;
    background-image: url("../img/wood.png");
    background-position: center;
    background-size: cover;
    border: 1px solid #4b2615;
  }

  .title {
    display: flex;
    flex-direction: row;

  }
  
  .down {
    position: relative;
    top: 0.75vh;
  }
  
  .up {
    position: relative;
    bottom: 0.75vh;
  }

  hr {
    width: 75%;
    height: 10px;
    background-color: black;
  }
  .addCards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 1vh auto; /* Center the container horizontally */
  }
  
  
  .card {
    display: block;
    width: 100%;
    padding: 2vh 0vw;
    margin-bottom: 1.5vh;
    border: 3px solid #ffd97d;
    background-color: #fffae4;
    border-radius: 40px;
  }
  
  .input-box {
    display: flex;
    align-items: center;
    margin-bottom: 1vh;
  }

  p{
    font-size: 40px;
    font-family: "vendetta", serif;
    font-weight: 700;
    font-style: normal;
    color: #04b2a6;
    -webkit-text-stroke: 0.5px black;
    background-color: white;
    padding: 1vh 1vw;
    margin: 0;
    border: 1px black solid;
    border-radius: 50px;
  }
  
  label {
    margin: 0;
    color: white;
    -webkit-text-stroke: 1.25px black;
    font-size: 50px;
    font-family: "vendetta", serif;
    font-weight: 700;
    font-style: normal;
    margin: 0vh 1vw;
    padding: 0vh 0.5vw;
    background-color: #81f1f7;
    border: 2px solid #000000;
    border-radius: 50px;
  }
  
  input {
    font-size: 40px;
    font-family: "vendetta", serif;
    font-weight: 700;
    font-style: normal;
    color: #04b2a6;
    -webkit-text-stroke: 0.5px black;
    border-radius: 50px;
    padding-left: 1vw;
    width: 100%;
    margin-right: 2vw;
  }
  

  .buttons {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    margin-top: auto;
    margin-right: 2vw;
  }
  .buttons button{
    color: white;
    -webkit-text-stroke: 2px black;
  }
  button {
    width: min-content;
    font-size: 40px;
    font-family: "vendetta", serif;
    font-weight: 900;
    font-style: normal;
    border: 2px solid #000000;
    border-radius: 20px;
    margin-left: 0.5vw;
    padding: 1vh 1vw;
  }
  #edit{
    background-color: blue;
  }
  #edit:hover{

  }
  #delete{
    background-color: red;
  }

  #delete:hover{

  }

  #view{
    background-color: green;
  }
  #view:hover{

  }
  .add{
    color:grey;
    border: 3px dotted grey;
  }
  #addCardText{
    border: none;
    background-color: transparent;
    width: 100%;
    color: grey;
    height: 100%;
  }


  #myModal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
  }
  #modalTitle {
    position: relative;
    margin: 0 auto 20px;
    padding: 10px 40px;
    text-align: center;
    width: max-content;
    background-color: #875e46;
    font-family: 'Merriweather', serif;
    color: white;
    font-size: 5vh;
    font-weight: 700;
  }
  
  #modalTitle::before, #modalTitle::after {
    content: '';
    width: 80px;
    height: 100%;
    background-color: #724b34;
  
    /* position ribbon ends behind and slightly lower */
    position: absolute;
    z-index: -1;
    top: 20px;
    
    /* clip ribbon end shape */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 25% 50%);
  
    /* draw and position the folded ribbon bit */
    background-image: linear-gradient(45deg, transparent 50%, #5d3922 50%);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  
  #modalTitle::before {
    left: -60px;
  }
  
  #modalTitle::after {
    right: -60px;
    transform: scaleX(-1); /* flip horizontally */
  }

  .modal-content{
    padding:1vh 1vw;
  }



  form label{
    width: max-content;
    white-space: nowrap;
  }
  .date-inputs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }
  
  .date-input {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .date-input input {
    box-sizing: border-box;
  }
  
  
  .location-inputs, .location-input{
    display: inline-flex;
  }
  .location-input input{
    width: 50%;
  }
  #modalCityInput{
    width: max-content;
  }

  .box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2vh;
    margin-right: 2vw;
    
  }
  #close{
    background-color: red;
    color: white;
  }
  #close:hover{

  }
  #submit{
    background-color: blue;
    color: white;
  }
  #submit:hover{

  }

  /* .itinerary{
    display: none;
  } */
  .modal{
    display: none;
  }