html,
body {
  margin: 0;
  overflow-x: hidden;
}

body {
  background-image: url("../img/acnh\ leaf\ cream\ green.png");
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  border: 3px solid red;
  width: 60%;
  margin: auto;
}

.itinCard {
  display: block;
  padding: 2vh 0vw;
  margin-bottom: 1.5vh;
  border: 3px solid #ffd97d;
  background-color: #fffae4;
  border-radius: 40px;
}
.input-box {
  display: flex;
  align-items: center;
  margin-bottom: 1vh;
}

#title,
#date,
#location,
#totalCost {
  font-size: 40px;
  font-family: "vendetta", serif;
  font-weight: 700;
  font-style: normal;
  color: #04b2a6;
  -webkit-text-stroke: 0.5px black;
  background-color: white;
  padding: 1vh 1vw;
  margin: 0;
  width: 100%;
  margin-right: 2rem;
  border: 1px black solid;
  border-radius: 50px;
}
.input-box label {
  margin: 0;
  color: white;
  -webkit-text-stroke: 1.25px black;
  font-size: 50px;
  font-family: "vendetta", serif;
  font-weight: 700;
  font-style: normal;
  margin: 0vh 1vw;
  padding: 0vh 0.5vw;
  background-color: #81f1f7;
  border-radius: 50px;
  white-space: nowrap;
}
h1 {
  font-size: 5rem;
  font-family: "vendetta", serif;
  font-weight: 700;
  color: white;
  -webkit-text-stroke: 1.25px black;
  margin: 0;
}
hr {
  height: 1vh;
  width: 100%;
  background-color: white;
  opacity: 1;
  border: 1px solid black;
}
.card {
  display: block;
  width: 100%;
  padding: 2vh 0vw;
  margin-bottom: 1.5vh;
  border: 3px solid #ffd97d;
  background-color: #fffae4;
  border-radius: 40px;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 1vh auto;
}
.add {
  color: grey;
  border: 3px dotted grey;
}
#addCardText {
  border: none;
  background-color: transparent;
  font-size: 30px;
  font-family: "vendetta", serif;
  font-weight: 700;
  width: 100%;
  color: grey;
  height: 100%;
  padding: 2vh 0;
}
.card-header {
  text-align: center;
}

.list {
  margin: 1vh 1vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.list-item-container {
  display: flex;
}

/* main{
    display: none;
} */
.myModal {
  display: none;
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

.modal-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-container {
  display: flex;
  flex-direction: column;
  gap: 1px;
}


.input-box {
  flex: 1 1 45%;
  margin-bottom: 1rem;
}

.full-row {
  flex-basis: 100%;
}

input {
  font-size: 20px;
  font-family: "vendetta", serif;
  font-weight: 700;
  font-style: normal;
  color: #04b2a6;
  -webkit-text-stroke: 0.5px black;
  border-radius: 50px;
  padding: 0.5vw;
  width: 100%;
  margin-right: 2vw;
}
#modalCostInput{
  width: 30%;
}
button{
  color: white;
  -webkit-text-stroke: 2px black;
  width: min-content;
  font-size: 40px;
  font-family: "vendetta", serif;
  font-weight: 900;
  font-style: normal;
  border: 2px solid #000000;
  border-radius: 20px;
  margin-left: 0.5vw;
  padding: 1vh 1vw;
}
.box {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 2vw;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  margin-top: auto;
  margin-right: 2vw;
}
.edit-button,.delete-button,.view-button,.complete-button {
  -webkit-text-stroke: 0.5px black;
  font-size: 4vh;
  padding: 1vh 1vw;
}

.buttons input {
margin: 0;
}

.buttons label{
  margin: auto;
}
.edit-button{
  background-color: blue; color: white
}.delete-button{
  background-color: red; color: white
}.view-button{
  background-color: green; color: white
}
.complete-button{
  background-color: orange;
  color: white;
}
.true {
  background-color: black;
}